@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// HEADER
.logo:active {
  color: whitesmoke;
}

.logo:hover {
  text-decoration: none;
  color: whitesmoke;
}
.navlist {
  padding-top: 1em;
}

.navhamburger {
  position: absolute !important;
  color: whitesmoke !important;
  right: 1em;
  bottom: 0.35em;

  font-size: 1.5em;

  a:hover {
    color: whitesmoke !important;
  }
}

.navcollapse {
  li:active, li:visited {
    background-color: inherit;
  }
  .dropdown-item {
    color: whitesmoke;
  }
}

section {
  height: auto !important;
  padding-top: 2em;
  padding-bottom: 2em;
}

// SCARLET THEME OVERRIDES
.body {
  margin-top: 7em;
}
.body h1, h2, h3, h4 {
  color: #53388a;
}

// FOOTER
.footer {
  height: 5em;
  padding: 1em;

  color: whitesmoke;
  font-weight: 700;

  a {
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  a:visited {
    color: inherit;
  }
}

