.footer {
  height: "5em";
  padding: "1em";

  color: whitesmoke;
  font-weight: "700";

  a {
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  a:visited {
    color: inherit;
  }
}

