$theme-colors: (
  "background": #011638,
  "secondary": #364156,
  "light": #cdcdcd,
  "primary": #b4656f,
);

// $font-family-sans-serif: 'Muli', sans-serif;
$body-bg: #eeeeee;
$body-color: #364156;
// $input-bg: $body-bg;

@import "~bootstrap/scss/bootstrap";

.construction-message {
  padding-top: 7.5em;

  h1 {
    padding-bottom: 1em
  }
}

// .card {
//   @extend .shadow-sm;
//   @extend .bg-light;
//   border-radius: 0.8em;
// }

// .btn {
//   @extend .shadow-sm;
//   border-radius: 0.8em;
// }

// .form-control {
//   border-radius: 0.8em;
// }

// .form-control:focus {
//   border-color: theme-color("secondary");
//   box-shadow: 0 0 2px theme-color("secondary");
//   background-color: lighten($body-bg, 2%)!important;
// }

// .form-control:hover {
//   border-color: theme-color("secondary");
//   box-shadow: 0 0 4px theme-color("secondary");
// }

// .animate{
//   transition: width 1s ease;
//   width: 250px;
// }

// .animate:focus-within {
//   width: 60%;
// }